name: "Build Ark Windows Release"

on:
    workflow_call:
      inputs:
        version:
          required: false
          description: "The Ark version"
          default: ${{ github.sha }}
          type: string
    workflow_dispatch:

jobs:
    build_windows:
        name: Build Windows
        runs-on: ${{ matrix.runs_on }}
        timeout-minutes: 40

        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        strategy:
            matrix:
                arch: [x64, arm64]
                flavor: [debug, release]
                include:
                    - arch: x64
                      runs_on: windows-latest
                      rust_target_prefix: x86_64
                    - arch: arm64
                      runs_on: windows-11-arm
                      rust_target_prefix: aarch64

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Compile ARK
              env:
                  ARK_BUILD_TYPE: ${{ matrix.flavor }}
                  RUST_TARGET: ${{ matrix.rust_target_prefix }}-pc-windows-msvc
              shell: cmd
              run: |
                  cargo clean
                  cargo build ${{ matrix.flavor == 'release' && '--release' || '' }} --target ${{ matrix.rust_target_prefix }}-pc-windows-msvc

            - name: Upload unsigned executable for signing
              uses: actions/upload-artifact@v4
              with:
                  name: ark-${{ matrix.flavor }}-windows-${{ matrix.arch }}-unsigned
                  path: target\${{ matrix.rust_target_prefix }}-pc-windows-msvc\${{ matrix.flavor }}\ark.exe

    sign_windows:
        name: "Sign Windows Binaries"
        uses: posit-dev/posit-gh-actions/.github/workflows/sign-windows.yml@main
        needs: [build_windows]
        secrets: inherit
        strategy:
            matrix:
                arch: [x64, arm64]
                flavor: [debug, release]
        with:
            unsigned_artifact_name: ark-${{ matrix.flavor }}-windows-${{ matrix.arch }}-unsigned
            signed_artifact_name: ark-${{ matrix.flavor }}-windows-${{ matrix.arch }}-signed

    repackage_signed_windows:
        name: Repackage Signed Windows Binaries
        runs-on: windows-latest
        needs: [sign_windows]
        timeout-minutes: 10

        env:
            DEBUG_FLAG: ${{ matrix.flavor == 'debug' && '-debug' || '' }}

        strategy:
            matrix:
                arch: [x64, arm64]
                flavor: [debug, release]

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Download signed executable
              uses: actions/download-artifact@v4
              with:
                  name: ark-${{ matrix.flavor }}-windows-${{ matrix.arch }}-signed
                  path: signed

            - name: Create signed archive
              shell: pwsh
              run: |
                  # Compress the signed kernel to an archive
                  $params = @{
                    Path = "signed\ark.exe", "LICENSE", "crates\ark\NOTICE"
                    DestinationPath = "ark-${{ inputs.version }}${{ env.DEBUG_FLAG }}-windows-${{ matrix.arch }}.zip"
                  }
                  Compress-Archive @params

            - name: Upload signed archive
              uses: actions/upload-artifact@v4
              with:
                  name: ark-${{ matrix.flavor }}-windows-${{ matrix.arch }}-archive
                  path: ark-${{ inputs.version }}${{ env.DEBUG_FLAG }}-windows-${{ matrix.arch }}.zip
