name: "Test Ark - macOS"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  macos:
    runs-on: macos-latest
    name: "Rust: ${{ matrix.config.rust }}, R: ${{ matrix.config.r }}"
    strategy:
      fail-fast: false
      matrix:
        config:
          - { rust: 'stable', r: 'release' }
    timeout-minutes: 30
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Report Rust Toolchain
        run: rustup show

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Install R Packages Required For Tests
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages:
            data.table
            rstudioapi
            tibble

      - name: Build
        run: |
            cargo build

      - name: Run Unit Tests
        run: |
            cargo test --verbose -- --nocapture
