name: "Test Ark - Windows"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  windows:
    name: "Rust: ${{ matrix.config.rust }}, R: ${{ matrix.config.r }}, OS: ${{ matrix.config.runs_on }}"
    runs-on: ${{ matrix.config.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        config:
          # x64
          - { rust: 'stable', r: 'release', runs_on: 'windows-latest' }
          # arm64
          - { rust: 'stable', r: 'release', runs_on: 'windows-11-arm' }
    timeout-minutes: 30
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Report Rust Toolchain
        run: rustup show

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true

      - name: Install R Packages Required For Tests
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: '"hard"'
          packages:
            data.table
            dplyr
            haven
            R6
            ragg
            rstudioapi
            survival
            tibble

      - name: Build
        run: |
          cargo build

      - name: Run Tests
        env:
          NEXTEST_PROFILE: "ci"
        run: |
          cargo nextest run
